.container-fluid
  h2.text-warning Individual Projects
  ul.list-group.student-projects
    li.list-group-item.panel.panel-primary(ng-repeat='project in $ctrl.getCurrentUser().projects | orderBy : "num"')
      .row
        .col-sm-3
          h2.text-success Project {{ project.num || 'NA' }}
        .col-sm-9
          project-info(project='project' saveable='project' updater='$ctrl.projectUpdater')

      // Project Requirements and Instructor Feedback
      .row
        .col-sm-12
          project-requirements-view(project='project')
          a.trash(ng-click='$ctrl.deleteProject(project)')
            span.glyphicon.glyphicon-trash.pull-right(style='margin-top:-15px;')

  button.btn.btn-default(ng-click='$ctrl.addProject()') Add Project

  h2.text-warning Group Projects
  ul.list-group.student-projects
    li.list-group-item.panel.panel-primary(ng-repeat='groupProject in $ctrl.getCurrentUser().groupProjects | orderBy : "num"')
      h2.text-success {{ groupProject.name }}
      .row
        .col-sm-5
          h3 Team
          div(ng-repeat='teamMember in groupProject.team | orderBy : "email"')
            .row
              .col-sm-2
                img(ng-show='teamMember.github' src='{{ teamMember.github.avatar_url }}' alt='Avatar' height='60' width='60')
              .col-sm-10
                div(style='margin-left: -60px')
                  dl.dl-horizontal.text-left
                    dt(ng-show='teamMember.name') Name:
                    dd(ng-show='teamMember.name') {{ teamMember.name }}
                    dt(ng-show='teamMember.email') Email:
                    dd(ng-show='teamMember.email') {{ teamMember.email }}
                    dt(ng-show='teamMember.github') GitHub:
                    dd(ng-show='teamMember.github')
                      a(target='_blank' ng-href='https://github.com/{{teamMember.github.login}}') {{teamMember.github.login}}
        .col-sm-7
          h3 Info.
          project-info(project='groupProject.project' saveable='groupProject' updater='$ctrl.groupProjectUpdater')

      // Project Requirements and Instructor Feedback
      .row
        .col-sm-12
          project-requirements-view(project='groupProject.project')
