header#banner.hero2
  .container-fluid
    .row
      .col-sm-12.text-center
        .row
          .col-sm-2.text-center
            .btn-group-vertical.panel-buttons(role='group')
              a.btn.btn-lg.btn-info(ng-class="{ selected: $ctrl.$state.includes('admin.users') }",     ui-sref="admin.users")    Users
              a.btn.btn-lg.btn-info(ng-class="{ selected: $ctrl.$state.includes('admin.cohorts') }",   ui-sref="admin.cohorts")  Cohorts
              a.btn.btn-lg.btn-info(ng-class="{ selected: $ctrl.$state.includes('admin.squads') }",    ui-sref="admin.squads")   Squads
              a.btn.btn-lg.btn-info(ng-class="{ selected: $ctrl.$state.includes('admin.homework') }",  ui-sref="admin.homework") Homework
          .col-sm-10
            .instructor-inner(ui-view='')
