$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

$jumbotron-padding: 10px;

.panel-title {
  font-size: 18px;
}

// Inline code
code {
  margin-left: 10px;
  margin-right: 10px;
}

@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.attendance {
  table {
    margin:40px auto 0px auto;
  }
  .attendance-table-wrapper {
    overflow-x: scroll;
  }
  .editable-radiolist label {
    display: block;
    text-align: left;
  }
}

@import "../bower_components/bootswatch-scss/darkly/variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

// Component styles are injected through grunt
// injector
@import 'variables';
@import 'admin/admin';
@import 'animate';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
// endinjector

$panel-primary-border: $brand-primary;

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
@import "../bower_components/bootswatch-scss/darkly/bootswatch";
