.container-fluid
  h2 Student Dashboard for
    span(class='text-primary') {{ ' ' + $ctrl.getCurrentUser().name }}

  .row(style='margin-top: 40px')
    .col-sm-3
      img(ng-show='$ctrl.getCurrentUser().github' src='{{ $ctrl.getCurrentUser().github.avatar_url }}' alt='Avatar' height='160' width='160')
    .col-sm-9
      dl.dl-horizontal
        dt(ng-show='$ctrl.getCurrentUser().email') Local:
        dd(ng-show='$ctrl.getCurrentUser().email') {{$ctrl.getCurrentUser().email}}

        dt(ng-show='$ctrl.getCurrentUser().github') GitHub:
        dd(ng-show='$ctrl.getCurrentUser().github')
          a(target='_blank' ng-href='https://github.com/{{$ctrl.getCurrentUser().github.login}}')
            | {{$ctrl.getCurrentUser().github.login}}</a>

        dt Cohort:
        dd(ng-show='$ctrl.getCurrentUser().cohort')
          a(target='_blank' ng-href='{{$ctrl.getCurrentUser().cohort.url}}') {{ $ctrl.getCurrentUser().cohort.name }}
        dd(ng-hide='$ctrl.getCurrentUser().cohort') Not Set

        dt Squad:
        dd(ng-show='$ctrl.getCurrentUser().squad') {{ $ctrl.getCurrentUser().squad.name }}
        dd(ng-hide='$ctrl.getCurrentUser().squad') Not Set

        dt Attendance:
        dd {{ $ctrl.getAttendancePercentage($ctrl.getCurrentUser()) | number }}%
          span(style='margin-left: 10px')
            | ({{ $ctrl.getAttendancePresentOrLate($ctrl.getCurrentUser()) }} /
            |  {{ $ctrl.getCurrentUser().attendance.length }})
