header#banner.hero-unit
  .container-fluid
    .row
      .col-sm-12.text-center
        h1 Welcome to WDI GAlaxy!
        p.lead Instructor / Student Interface
        oauth-buttons(classes='btn-block')
