.small-text {
  font-size: 0.5em;
}
.question {
  position: relative;
  height: 400px;
}
.question-options {
  list-style-type: none;
}
.submit-button {
  position: absolute;
  bottom: 20px;
}
.numeric-input {
  width: 80px;
}
