h2 You are taking the &nbsp;
  em.text-primary {{ $ctrl.quizName() }}
hr
.text-center(ng-hide='$ctrl.inProgress')
  button.btn.btn-success.btn-lg(ng-click='$ctrl.startQuiz()') Start the Quiz

.panel.panel-success(ng-show='$ctrl.inProgress && !$ctrl.quizOver')
  .panel-heading
    h3.panel-title
      .row.vertical-center
        .col-sm-4.col-md-offset-2
          dl.dl-horizontal(style='margin: 0;')
            dt Progress:
            dd
              uib-progressbar(max='$ctrl.numQuestions()', value='$ctrl.questionsCompleted()')
                span {{ $ctrl.questionsCompleted() }} / {{ $ctrl.numQuestions() }}
        .col-sm-4
          dl.dl-horizontal(style='margin: 0;')
            dt Score:
            dd {{ $ctrl.numCorrect }} / {{ $ctrl.numGraded }}

  .panel-body
    h3 Question \#{{ $ctrl.question.number }}
      small.text-muted(style='margin-left: 10px' ng-show='$ctrl.question.difficulty') (Difficulty: {{ $ctrl.question.difficulty }})
      small.text-muted(style='margin-left: 10px' ng-show='$ctrl.question.topic') (Topic: {{ $ctrl.question.topic }})
    br
    div(ng-show='$ctrl.question.codefile')
      .text-left(hljs='', hljs-language='javascript', hljs-include='$ctrl.question.codefile')
    h4 {{ $ctrl.question.prompt }}
    article(ng-switch='$ctrl.question.type')
      // TEXT
      div(ng-switch-when='text')
        input(type='text', size='40', ng-model='$ctrl.answer')
      // MULTIPLE CHOICE
      div(ng-switch-when='multiple-choice')
        .row
          .col-sm-4.col-sm-offset-4.text-left.radio
            ul.question-options
              li(ng-repeat='option in $ctrl.question.options')
                label
                  input(type='radio', ng-model='$ctrl.answer', value='{{option}}')
                  | {{option}}
      // NUMERIC
      div(ng-switch-when='number')
        input.numeric-input(type='number', ng-model='$ctrl.answer')
      div(ng-switch-default='')
        h4.text-danger Question Type '{{ $ctrl.question.type }}' not recognized!
  .panel-footer
    .text-center
      button.btn.btn-primary.quiz-submit-button(ng-click='$ctrl.submit()' ng-disabled='!$ctrl.answer') Submit

.panel.panel-success(ng-show='$ctrl.quizOver')
  .panel-body
    section(ng-show='$ctrl.quizOver')
      h2 The Quiz is over!
      h1 You got {{ $ctrl.numCorrect }} out of {{ $ctrl.numGraded }}
      br
      .text-center
        button.btn.btn-success.quiz-submit-button(ng-click='$ctrl.reset()') Play again
