.tag-selected {
  color: red !important;
}

table {
  font-size: 13px !important;
}

.form-control {
  padding: 3px 7px !important;
  font-size: 12px !important;
}

tags-input .tags .tag-item {
  color: white;
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
}
tags-input .tags .tag-item.selected {
  color: #fff;
  background: #d9534f;
  border: 1px solid #d43f3a;
}

.resource-help {
  // background-color: white !important;
  border: 1px solid red !important;
}

.popover-title {
  font-size: 24px !important;
  color: #adf !important;
}
