.modal-header
  h3#modal-title.modal-title I'm a modal!
#modal-body.modal-body
  form.form-horizontal
    .form-group
      label.col-sm-2.control-label(for='inputTitle') Title
      .col-sm-10
        input#inputTitle.form-control(type='text', ng-model='$ctrl.resource.title', placeholder='Title')
    .form-group
      label.col-sm-2.control-label(for='inputInfo') Info
      .col-sm-10
        input#inputInfo.form-control(type='text', ng-model='$ctrl.resource.info', placeholder='Info')
    .form-group
      label.col-sm-2.control-label(for='inputUrl') URL
      .col-sm-10
        input#inputUrl.form-control(type='url', ng-model='$ctrl.resource.url', placeholder='URL')


.modal-footer
  button.btn.btn-primary(type='button', ng-click='$ctrl.ok()') OK
  button.btn.btn-warning(type='button', ng-click='$ctrl.cancel()') Cancel
