p You can use the #[span.label.label-primary Tag] buttons below to select which tags you want to #[span.label.label-success include] and which tags you want to #[span.label.label-danger exlude].

p Use #[span.label.label-success any] to include resources that match #[b any] of the tags. Use #[span.label.label-success all] to include only the #[span.label.label-success included] resources that match #[b all] of the #[span.label.label-success include] tags.

p Resources containing an #[span.label.label-danger exluded] tag are #[b always] excluded.
