header#banner.hero2
  .container-fluid
    .row
      .col-sm-12.text-center
        .row
          .col-sm-3.text-center
            .btn-group-vertical.panel-buttons(role='group')
              a.btn.btn-lg.btn-info(ui-sref="student.profiles") Student Profiles
              a.btn.btn-lg.btn-info(ui-sref="student.attendance" disabled) Attendance
              a.btn.btn-lg.btn-info(ui-sref="student.homework" disabled) Homework
              a.btn.btn-lg.btn-info(ui-sref="student.quizzes" disabled) Quizzes
              a.btn.btn-lg.btn-info(ui-sref="student.projects" disabled) Projects
          .col-sm-9
            .student-inner(ui-view='')
