.container-fluid
  h2 Student Profiles
  ul.list-group
    li.list-group-item(ng-repeat='student in $ctrl.students')
      .row
        .col-sm-3
          img(ng-show='student.github' src='{{ student.github.avatar_url }}' alt='Avatar' height='160' width='160')
        .col-sm-9
          strong {{student.name}}
          br
          dl.dl-horizontal
            dt(ng-show='student.email') Local:
            dd(ng-show='student.email') {{student.email}}
            dt(ng-show='student.github') GitHub:
            dd(ng-show='student.github') {{student.github.login}}

            dt Role:
            dd {{ student.role }}

            div
              dt Cohort:
              dd {{ student.cohort.name || 'Not Set' }}

            div
              dt Squad:
              dd {{ student.squad.name || 'Not Set' }}

            div
              dt Attendance:
              dd {{ $ctrl.getAttendancePercentage(student) | number }}%
