table a {
  &.present {
    color: green !important;
  }
  &.late {
    color: yellow !important;
  }
  &.excused {
    color: orange !important;
  }
  &.unexcused {
    color: red !important;
  }
  &.dropped {
    color: red !important;
  }
  &.unset {
    color: grey !important;
  }
}

form[name="projectForm"] {
  > div {
    height: auto;
    padding: 5px 0;
  }
  .title {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    vertical-align: top;
    min-width: 90px;
  }
  .editable {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
  }
}
